@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-solid border-ui;
  }

  html {
    @apply font-azo-sans text-body;
    font-size: 1em;
    line-height: 1.5;
  }

  html.dark {
    @apply text-body-dark;
  }

  html.is-switching-theme :is(*, *::before, *::after) {
    @apply transition;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  body {
    font-size: 0.875rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium text-black dark:text-white;
  }

  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg;
  }

  h3 {
    @apply text-[1.25rem];
  }

  a,
  button,
  input,
  label,
  select,
  textarea {
    @apply transition;
    transition-duration: 200ms;
  }

  a,
  button {
    @apply outline-none focus:ring-2;
  }

  ::selection,
  button::selection {
    @apply bg-accent text-white;
  }
}

@layer components {
  .transition-none * {
    transition: none;
  }

  .button {
    @apply inline-block;
    @apply rounded-md;
    @apply border border-white border-opacity-10;
    @apply py-2 px-4 font-medium text-white;
    @apply hover:text-white dark:hover:text-black;
  }

  .button-default {
    @apply bg-accent hover:bg-black dark:hover:bg-white;
  }

  .button-link {
    @apply border-0 bg-transparent dark:bg-transparent p-0 text-accent hover:text-black dark:hover:text-white
  }

  .button-sm {
    @apply py-2 px-3;
  }

  .button-lg {
    @apply py-3 px-4;
  }
}